---
sitemap:
  exclude: 'yes'
---

@import "variables";

.navbar-brand img { width:150px }
.top-offset { margin-top: 2.5em; }
section.padded {
	padding-top: 50px;
	padding-bottom: 50px;

	> h2 {
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
}
.mb-model {
    &:hover {
        background-color: $light-grey;
    	a[href="{{ site.designer_base_url }}"] { opacity: 1;}
    }
	a[href="{{ site.designer_base_url }}"] {
		opacity: 0;
		margin-top: 5px;
		margin-bottom: 15px;
	}
    a:active, a:focus { outline-style:  none; }
}
section a[href="{{ site.designer_base_url }}"] {
    color: black;
    font-size: 20px;
    display: block;
    padding: 4px;

    &:hover {
        text-decoration: none;
        color: $primary-color;
    }
    &::before {
        content: "\f013";
        font-family: FontAwesome;
        color: $primary-color
    }
}
.mb-iframe {
    height: 539px;
    width: 830px;
    overflow: hidden;
}
img {
	width: 100%;
	height: auto;
}
h2 {
	border-bottom: solid 2px red;
	padding-bottom: 10px
}
.mb-carousel {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}
@include respond-to(mobile) {
    .mb-carousel {
        > .mb-carousel-next,
        > .mb-carousel-prev {
            display: none;
        }
    }
    ul.itemSlide > li { height: auto; }
}

.mb-slides {
    .item {
    	> .caption {
            > h2 { margin-top: 0; padding-top: 15px; }
            > p { margin-bottom: 0; padding-bottom: 15px; }
            &.accent-box {
                background-color: $trans-primary-color;
            }
            &.accent-box-2 {
                background-color: $trans-secondary-color;
                color: white;
            }
            &.light-box {
                background-color: rgba(255, 255, 255, .85);
            }
            &.accent-box.light-text,
            &.accent-box.light-text h2, 
            &.light-box.light-text,
            &.light-box.light-text h2 
            {
                color: white;
            }
        }
        > .video {
            position:absolute;
            left:50%;
            top: 24vw;

            height:140px;
            width:140px;
            margin: 0 0 0 -70px;

            > a > i.fa { color: rgba($trans-primary-color, .25); font-size: 160px; }
            > a > i.fa:hover { color: $primary-color }
        }
    }
}

.carousel.mb-slides {
    position: relative;
    .item {
    	> .caption {
    		margin: 50px 15px 15px 15px;
    		position: absolute;
    		left: 0;
    		top: 0;
    		width: 40%;
    		padding: 20px;

            &.bottom {
                top: auto;
                bottom: 0px;
            }
            &.right {
                left: auto;
                right: 0
            }
            &.left {
                left: 0;
            }
            &.narrow {
                width: 33%;
            }
            &.full {
                width: 100%;
            }
            &.centered {
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            &.v-centered {
                display: table-cell;
                vertical-align: middle;
            }
            &.light-text,
            &.light-text h2
            {
                color: white;
            }            
    	}
        > .video {
            top:50%;
            left:50%;
            margin: -70px 0 0 -70px;
        }
        > .no-title > h2 { display: none; }
        > .no-caption > p { display: none; }
    }
}

footer {
	.first {
        background-color: $light-grey;
        padding: 25px 0 20px 0 }
	.second {background-color: $primary-color; padding: 5px 0 10px 0; color: #fff }
}

iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
