---
title: The Art of Boat Making is Our Passion
description: This is a description that will be picked up by social media and search engines.
layout: default
social_image: /images/home_social.jpg
---

<section id="home-section" class="top-offset">
	{% include carousel.html filter="home" slide_id="home-carousel" %}
</section>
<section id="standards-section" class="container padded">
	<h2>Our Standards</h2>
	<p class="lead">It’s Not an Option...It’s a Standard</p>
	<p>
		At MB Sports, our boats come standard equipped with everything you need
		to enjoy your time on the water from day one. Whether you are
		an experienced boater or purchasing for the first time, our
		Tomcat and B52 series, are manufactured with quality components
		and experienced artisans so that our customers can stop
		debating the price and start enjoying boat ownership.
	</p>
</section>

<section id="standards-carousel-section">
	{% include carousel.html filter="standard" slide_id="standards-carousel" %}
</section>

<section id="models-section" class="container padded">
	<h2>TOMCAT Series</h2>
	<p>
	 The MB Sports Tomcat Series broke the mold when we developed an
	 alternative bow and created an aggressive, modern look that is
	 the picklefork design.  MB maintained traditional characteristics
	 from our racing heritage sustaining performance without compromising
	 the luxury style playpen.  The eye catching lines of the Tomcat series
	 makes a statement on the water no matter which model you choose.
	</p>
	{% include series-nav.html series="TOMCAT" %}

	<h2>B52 Series</h2>
	<p>
		The MB Sports B52 Series was specifically designed in the early 90's
		for wakeboarding enthusiasts demanding more on the water.  Using our
		unique deep V hull, we've been able to crossover into the wakesurf market
		to provide the best of both worlds.  MB Sports continues to make waves
		in the market place with the introduction of the MB Switch system and our
		quick fill ballast.  Wakeboard to wakesurf is as easy as pushing a button.
	</p>

	{% include series-nav.html series="B52" %}
</section>
